<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277777042351-tu1oj3icgdoijgqk4nti9o6ti5shad3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277777042351-tu1oj3icgdoijgqk4nti9o6ti5shad3l</string>
	<key>API_KEY</key>
	<string>AIzaSyCnfWjGxpmtS728SRkBnGZGBoFV1C1BYnA</string>
	<key>GCM_SENDER_ID</key>
	<string>277777042351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vincent.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-c5002</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-c5002.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277777042351:ios:366669df52f019770d7d5a</string>
</dict>
</plist>